<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cuer - QR Generator</title>

    <link href="@Url.Content("~/css/Poppins.min.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
</body>
</html>